1 ICON "quickcopy.ico"
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "app.manifest"
201 RCDATA "driver/x64/Release/QuickCopyKbd.sys"
202 RCDATA "driver/x64/Release/QuickCopyKbd.inf"
203 RCDATA "driver/x64/Release/QuickCopyKbd.cat"
